/target
/tests/*.generated/
transpiled/
diagnostics

/tools/macro-dump-plugin/build/

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
/libyaml-crate/

# Beads / Dolt files (added by bd init)
.beads/proxieddb/
